Many oobjects in python are "ITERABLE", meaning we can iterate over every element in object
such as every element in a list or every character in a string..
we can use for loops to execute a block of code for every situation
The term ITERABLE means you can "iterarte" over the object.
 
 For example you can iterate over every character in a string , iterate over every item in a list,iterate over every key in a dictionary

syntax of for loop
 varaible_name = [1,2,3,4,5]
 for place_holder in varaible_name:
     print(place_holder)
     
  for my_iterable = [1,2,3,4,5]
  for item_name in my_itearable:
      print(item_name)

In [1]:
my_list = [1,2,3,4,5,6,7,8,9,10,]
for item in my_list:
    print(item)

1
2
3
4
5
6
7
8
9
10

In [2]:
my_list = [1,2,3,4,5,6,7,8,9,10,]
for hey in my_list:
    print(hey)

1
2
3
4
5
6
7
8
9
10

In [3]:
my_list = [1,2,3,4,5,6,7,8,9,10,]
for item in my_list:
    print("HELLO FOR LOOP")

HELLO FOR LOOP
HELLO FOR LOOP
HELLO FOR LOOP
HELLO FOR LOOP
HELLO FOR LOOP
HELLO FOR LOOP
HELLO FOR LOOP
HELLO FOR LOOP
HELLO FOR LOOP
HELLO FOR LOOP

In [1]:
my_list = [1,2,3,4,5,6,7,8,9,10]
for num in my_list:
    if num %2==0:
        print(num)

2
4
6
8
10

In [8]:
my_list = [1,2,3,4,5,6,7,8,9,10]
for num in my_list:
    #check even or odd
    if num %2 == 0:
        print(f'the EVEN number : {num}')
    else:
        print('the ODD number : {a}'.format(a=num))

the ODD number : 1
the EVEN number : 2
the ODD number : 3
the EVEN number : 4
the ODD number : 5
the EVEN number : 6
the ODD number : 7
the EVEN number : 8
the ODD number : 9
the EVEN number : 10

In [22]:
my_sum = 0
for num in my_list:
    my_sum = my_sum + num
    
print(my_sum) #sum of list

55

In [24]:
my_sum = 0
for num in my_list:
    my_sum = my_sum + num
    
    print(my_sum)

1
3
6
10
15
21
28
36
45
55

In [18]:
for letter in "HELLO WORLD":
    print(letter)

H
E
L
L
O

W
O
R
L
D

In [19]:
mystring = "HELLO WOLRD"
for hey in mystring:
    print("COOL!!")

COOL!!
COOL!!
COOL!!
COOL!!
COOL!!
COOL!!
COOL!!
COOL!!
COOL!!
COOL!!
COOL!!

In [20]:
mystring = "HELLO WOLRD"
for hey in mystring:
    print(hey)

H
E
L
L
O

W
O
L
R
D

In [25]:
tup = (1,2,3,4,5,6,7)
for i in tup:
    print(i)

1
2
3
4
5
6
7

In [27]:
my_list = [(1,2),(3,4),(5,6)]
for i in my_list:
    print(i)
len(my_list)

(1, 2)
(3, 4)
(5, 6)

3

In [29]:
for (a,b) in my_list:
    print(a)
    print(b)   #tuple unpacking

1
2
3
4
5
6

In [30]:
my_list = [(1,2,3),(1,2,3),(1,2,3)]

In [31]:
my_list

[(1, 2, 3), (1, 2, 3), (1, 2, 3)]

In [32]:
for i in my_list:
    print(my_list)

[(1, 2, 3), (1, 2, 3), (1, 2, 3)]
[(1, 2, 3), (1, 2, 3), (1, 2, 3)]
[(1, 2, 3), (1, 2, 3), (1, 2, 3)]

In [36]:
for a,b,c in my_list:
    print(c)
    print(b)
    print(a)

3
2
1
3
2
1
3
2
1

In [41]:
dict = {'key1':1,'key2':2,'key3':3}
for key,value in dict.items():
    print(key) #unordered

key1
key2
key3

In [42]:
dict = {'key1':1,'key2':2,'key3':3}
for value in dict.values():
    print(value) #unordered

1
2
3