In [1]:
#Functions and Methods Homework Solutions
#Write a function that computes the volume of a sphere given its radius.

def vol(rad):
    return (4/3)*(3.14)*(rad**3)

In [2]:
vol(2)

33.49333333333333

In [3]:
vol(5)

523.3333333333334

In [4]:
vol(5)

523.3333333333334

In [5]:
vol(1)

4.1866666666666665

In [6]:

#Write a function that checks whether a number is in a given range (inclusive of high and low)
def hai(num,low,high):
    return num in range(low,high+1)

In [7]:
hai(5,2,7)

True

In [8]:
def hai2(num,low,high):
    if num in range(low,high+1):
        print(f'the {num} is in {low} and {high}')
    else:
        print(f'the {num} is in {low} and {high}')

In [9]:
hai2(5,2,7)

the 5 is in 2 and 7

In [10]:

#Write a Python function that accepts a string and calculates the number of upper case letters and lower case letters.

#Sample String : 'Hello Mr. Rogers, how are you this fine Tuesday?'
#Expected Output : 
#No. of Upper case characters : 4
#No. of Lower case Characters : 33

def low_upper(string):
    
    lower_case = 0
    upper_case = 0
    
    for char in string:
        if char.isupper():
            upper_case +=1
        elif char.islower():
            lower_case +=1
        else:
            pass
    print(f'The original string is {string}')
    print(f'No.Of uppercases are {upper_case}')
    print(f'No.of loswercases are {lower_case}')

In [11]:
low_upper('Hai Welcome to Dhanush Home ')

The original string is Hai Welcome to Dhanush Home
No.Of uppercases are 4
No.of loswercases are 19

In [12]:
def up_low(s):
    d={"upper":0, "lower":0}
    for c in s:
        if c.isupper():
            d["upper"]+=1
        elif c.islower():
            d["lower"]+=1
        else:
            pass
    print("Original String : ", s)
    print("No. of Upper case characters : ", d["upper"])
    print("No. of Lower case Characters : ", d["lower"])

In [13]:
up_low('Hai Welcome to Dhanush Home ')

Original String :  Hai Welcome to Dhanush Home
No. of Upper case characters :  4
No. of Lower case Characters :  19

In [34]:

#Write a Python function that takes a list and returns a new list with unique elements of the first list.

#Sample List : [1,1,1,1,2,2,3,3,3,3,4,5]
#Unique List : [1, 2, 3, 4, 5]

def helo(lst):
    seen_numbers = []
    for num in lst:
        if num not in seen_numbers:
            seen_numbers.append(num)
        else:
            pass
    return seen_numbers

In [35]:
helo([1,1,1,1,2,3,4,5,6,6,5,4,3,3,2,2,1])

[1, 2, 3, 4, 5, 6]

In [36]:
def hai(num):
    return list(set(num))

In [37]:
hai([1,1,1,2,2,3,3,])

In [38]:

#Write a Python function to multiply all the numbers in a list.

#Sample List : [1, 2, 3, -4]
#Expected Output : -24


def list(numbers):
    total = 1
    for iteam in numbers:
        total *= iteam
    return total

In [41]:
list([1,2,3,-4])

-24

In [46]:

#Write a Python function that checks whether a word or phrase is palindrome or not.

#Note: A palindrome is word, phrase, or sequence that reads the same backward as forward, e.g., madam,kayak,racecar, or a phrase "nurses run". Hint: You may want to check out the .replace() method in a string to help out with dealing with spaces. Also google search how to reverse a string in Python, there are some clever ways to do it with slicing notati



def palindrome(s):
    #remove spaces in string
    s = s.replace(' ','')
    #check is string is == reversed version of the string
    result = s[::-1]
    
    return result

In [48]:
palindrome('madam hai')

'iahmadam'

In [49]:
palindrome('racecar')

'racecar'

In [53]:
#Hard:
#Write a Python function to check whether a string is pangram or not. (Assume the string passed in does not have any punctuation)

#Note : Pangrams are words or sentences containing every letter of the alphabet at least once.
#For example : "The quick brown fox jumps over the lazy dog"
#Hint: You may want to use .replace() method to get rid of spaces.

#Hint: Look at the string module

#Hint: In case you want to use set comparisons

import string

def pangram(str,alphabet=string.ascii_lowercase):
    #creating a set of alphabet
    alphaset = set(alphabet)
    #removing the spaces from the string
    str = str.replace(' ','')
    #covert into all lowercase
    str = str.lowercase()
    #grab all unique letters
    str = set(Str)
    #alphabet set == string set input
    return str == alphabet

In [54]:
pangram('hai welocome to hoem')

AttributeError: 'str' object has no attribute 'lowercase'

In [56]:
import string

def ispangram(str1, alphabet=string.ascii_lowercase): 
    # Create a set of the alphabet
    alphaset = set(alphabet)  
    
    # Remove spaces from str1
    str1 = str1.replace(" ",'')
    
    # Lowercase all strings in the passed in string
    # Recall we assume no punctuation 
    str1 = str1.lower()
    
    # Grab all unique letters in the string as a set
    str1 = set(str1)
    
    # Now check that the alpahbet set is same as string set
    return str1 == alphaset

In [57]:
ispangram("The quick brown fox jumps over the lazy dog")

True

In [58]:
lst = [1,2,3]

In [59]:
lst = lst+1

TypeError: can only concatenate list (not "int") to list

In [60]:
lst = [1,2,3]
lst1 = lst+1
lst2 = lst-1
print(lst1)
print(lst2)

TypeError: can only concatenate list (not "int") to list