map()
map(func, *iterables) --> map object

Make an iterator that computes the function using arguments from
each of the iterables.  Stops when the shortest iterable is exhausted.
Type:           type
Subclasses:

In [6]:
def square(num):
    
    return num**2

In [7]:
my_num = [1,2,3,4,5,6,7,8,9,10]

In [8]:
map(square,my_num)

In [11]:
for iteam in map(square,my_num):
    print(iteam)

1
4
9
16
25
36
49
64
81
100

In [16]:
def heloo(text):
    if len(text)%2==0:
        return 'EVEN'
    else:
        return text[0]

In [17]:
my_text = ['Dhanush','Remo','Naanu','Jd']

In [18]:
for iteam in my_text:
    print(iteam)

Dhanush
Remo
Naanu
Jd

In [19]:
for i in map(heloo,my_text):
    print(i)

D
EVEN
N
EVEN

In [20]:
list(map(heloo,my_text))

['D', 'EVEN', 'N', 'EVEN']

In [21]:
list(map(square,my_num))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [22]:
def check_even(num):
    return num%2==0

In [23]:
my_num=[1,2,3,4,5,6,7,8,9,10]

In [25]:
for iteam in filter(check_even,my_num):
    print(iteam)

2
4
6
8
10

In [26]:
list(filter(check_even,my_num))

[2, 4, 6, 8, 10]

In [30]:
lambda num:num**2

In [31]:
list(map(lambda num:num**2,my_num))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [32]:
list(filter(lambda num:num%2==0,my_num))

[2, 4, 6, 8, 10]

In [34]:
lambda text: text[0]

In [35]:
list(map(lambda text:text[0],my_text))

['D', 'R', 'N', 'J']

In [36]:
list(map(lambda text:text[::-1],my_text))

['hsunahD', 'omeR', 'unaaN', 'dJ']