In [24]:
#Fill in the Line class methods to accept coordinates as a pair of tuples and return the slope and distance of the line.

class Line:
    
    def __init__(self,coor1,coor2):
        self.coor1 = coor1
        self.coor2 = coor2
        
    
    def distance(self):
        x1,y1 = self.coor1
        x2,y2 = self.coor2
        return ((x2-x1)**2 + (y2-y1)**2) **0.5
    
    def slope(self):
        
        #elf.x1 = self.coor1
       #self.y1 = self.coor1
       #self.x2 = self.coor2
       #self.y2 = self.coor2
        x1,y1 = self.coor1
        x2,y2 = self.coor2
        return (y2-y1)/(x2 - x1)

In [25]:
c1 = (3,2)
c2 = (8,10)

In [26]:
myline = Line(c1,c2)

In [27]:
myline.distance()

9.433981132056603

In [28]:
myline.slope()

1.6

In [29]:
class Cylinder:
    
    def __init__(self,height=1,radius=1):
        self.height = height
        self.radius =  radius
        
    def volume(self):
        
        return  3.14*(self.radius)**2*self.height
    
    def surface_area(self):
        return 2*3.14*self.radius*self.height + 2*3.15*self.radius**2

In [30]:
mycl = Cylinder(2,3)

In [32]:
mycl.volume()

56.52

In [33]:
mycl.surface_area()

94.38

In [38]:

class Value():
    
    def __init__(self,values):
        self.values = values
        
    def add_to_values(self,amount):
        self.values = self.values + amount
        print('hey your amount {} added to your values'.format(amount))

In [40]:
myvalue = Value(100)

In [41]:
myvalue.values

100

In [42]:
myvalue.add_to_values(300)

hey your amount 300 added to your values

In [43]:
myvalue.values

400


Object Oriented Programming Challenge
For this challenge, create a bank account class that has two attributes:

owner
balance
and two methods:

deposit
withdraw
As an added requirement, withdrawals may not exceed the available balance.

Instantiate your class, make several deposits and withdrawals, and test to make sure the account can't be overdrawn.

class Account:
    pass
# 1. Instantiate the class
acct1 = Account('Jose',100)

In [62]:
class Account:
    
    def __init__(self,owner,balance=0):
        self.owner = owner
        self.balance = balance
        
    def deposite(self,dpt_amt):
        self.balance = self.balance + dpt_amt
        print(f'hey your amount {dpt_amt} is added to your account')
        
    def withdraw(self,wt_draw):
        
        if self.balance >= wt_draw:
            print('your {} withdraw acceptable!!'.format(wt_draw))
        else:
            print('hey there is no funds in the bank aaccount!1')
            
    def __str__(self):
        return f'ONWER {self.owner} \nBalance {self.balance}'

In [63]:
# 1. Instantiate the class
#acct1 = Account('Jose',100)
a = Account('Dhanush',1000)

In [64]:
# 2. Print the object
#print(acct1)
print(a)

ONWER Dhanush
Balance 1000

In [65]:

# 3. Show the account owner attribute
#acct1.owner

a.owner

'Dhanush'

In [66]:
# 4. Show the account balance attribute
#acct1.balance

a.balance

1000

In [67]:

# 5. Make a series of deposits and withdrawals
#acct1.deposit(50)

a.deposite(100)

hey your amount 100 is added to your account

In [68]:
#acct1.withdraw(75)

a.withdraw(500)

your 500 withdraw acceptable!!

In [69]:
a.withdraw(1000)

your 1000 withdraw acceptable!!